{% extends 'resellertemp/masterpage.html' %}
{% load static %}
{% block content %}
<section>
  <div class="container mt-5" >
    <div class="row pt-5">
      <!-- Card 1 -->
        <div class="col-12 col-md-2 col-sm-6 pt-3">
          <a href="{% url 'seller:seller_productcatelogue' %}" class="text-dark">
            <div class="card text-center">
              <img src="{% static 'images/procat.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title font1">Product Catalogue</h5>
              </div>
            </div>
          </a>
        </div>
        <!-- Card 2 -->
        <div class="col-12 col-md-2 col-sm-6 pt-3"><a href="{% url 'seller:seller_addproduct' %}" class="text-dark">
          <div class="card text-center">
            <img src="{% static 'images/addpro.png' %}"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title  font1">Add Product</h5>
            </div>
          </div></a>
        </div>
        <!-- Card 3 -->
        <div class="col-12 col-md-2 col-sm-6 pt-3"><a href="{% url 'seller:seller_updatestock' %}" class="text-dark">
          <div class="card text-center">
            <img src="{% static 'images/recentupdate.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title  font1">Update Stock</h5>
               </div>
          </div></a>
        </div>
        <!-- Card 4 -->
        <div class="col-12 col-md-2 col-sm-6 pt-3"><a href="{% url 'seller:seller_recentorders' %}" class="text-dark">
          <div class="card text-center">
            <img src="{% static 'images/vieworder.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title  font1">Recent Orders</h5>
              </div>
          </div>
        </div></a>
    <!-- Card 5 -->
      <div class="col-12 col-md-2 col-sm-6 pt-3 pb-3"><a href="{% url 'common:common_login' %}" class="text-dark">
        <div class="card text-center">
          <img src="{% static 'images/recentupdate.png' %} " class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title  font1">Recent Updates</h5>
            </div>
        </div></a>
      </div>
      <!-- Card 6 -->
      <div class="col-12 col-md-2 col-sm-6 pt-3 pb-3"><a href="{% url 'common:common_login' %}" class="text-dark">
        <div class="card text-center">
          <img src="{% static 'images/orderhist.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title  font1">Order History</h5>
            </div>
        </div></a>
      </div>
     
      
  </div>
  </div>  
</section>

      
  </body>
  </html>
  {% endblock %}