{% extends 'resellertemp/masterpage.html' %}
{% load static %}
{% block content %}


<section class=" bg-dark">
  <div class="container mb-5 pt-5 bg-dark">
    <div class="row mt-5">
      <div class="col-4">
        <img src="{{ prof.seller_image.url }}" height="150px">
      </div>
      <div class="col-3 text-light">
        <h4 class="pb-4">Personal Details</h4>
        <h5>{{ prof.seller_fname | upper }}{{ prof.seller_lname | upper }}</h5>
        <h6>{{ prof.seller_email }}</h6>
        <h6>{{ prof.seller_phn }}</h6>
      </div>
      <div class="col-3 text-light">
        <h4 class="pb-4">Bank Details</h4>
        <h6>Bank Name: {{ prof.bank | upper }} </h6>
        <h6>A/c No.:{{ prof.seller_accnt }}</h6>
        <h6>Business Type : {{ prof.seller_bus | upper}}</h6>
      </div>
      <div class="col-2 text-right">
        <a href="{% url 'reseller:update' %}">
          <img src="{% static 'images/edit.png' %}" width="40px">
        </a>
      </div>
    </div>
  </div>
</section>
</body>
</html>
{% endblock %}