{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spyder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    

</head>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
              <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Update the details</h3>
                  {{ message }}
                  {{ testing }}
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                          <input type="text" value="{{ sell.seller_fname }}" id="firstName" name="fname" class="form-control form-control-lg bg-sec rounded-4 border-0" />
                          <label class="form-label" for="firstName">First Name</label>
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                          <input type="text"  value="{{ sell.seller_lname }}" id="lastName" name="lname" class="form-control form-control-lg bg-sec rounded-4 border-0" />
                          <label class="form-label" for="lastName">Last Name</label>
                        </div>
      
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-12 mb-4 d-flex align-items-center">
      
                        <div class="form-outline datepicker w-100">
                          <input type="text" value="{{ sell.seller_bus }}" name="bus" class="form-control form-control-lg bg-sec rounded-4 border-0" id="birthdayDate" />
                          <label for="birthdayDate" class="form-label">Business Name</label>
                        </div>
      
                      </div>
                      
                    </div>
      
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
      
                        <div class="form-outline">
                          <input type="email" value="{{ sell.seller_email }}" id="emailAddress" name="email" class="form-control form-control-lg bg-sec rounded-4 border-0" />
                          <label class="form-label" for="emailAddress">Email</label>
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
      
                        <div class="form-outline">
                          <input type="tel" value="{{ sell.seller_phn }}" id="phoneNumber" name="num" class="form-control form-control-lg bg-sec rounded-4 border-0" />
                          <label class="form-label" for="phoneNumber">Phone Number</label>
                        </div>
      
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                          <input type="text" value="{{ sell.bank }}" id="phoneNumber" name="bank" class="form-control form-control-lg bg-sec rounded-4 border-0" />
                          <label class="form-label" for="phoneNumber">Bank Name</label>
        
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <input type="text" value="{{ sell.seller_accnt }}" id="phoneNumber" name="ac" class="form-control form-control-lg bg-sec rounded-4 border-0" />
                          <label class="form-label" for="phoneNumber">Account Number</label>
        
                        </div>
                      </div>  
                      <div class="row">
                        <div class="col-8">
                            <input type="file" id="phoneNumber" name="sellerpic" class="form-control form-control-lg bg-sec rounded-4 border-0" />
                          <label class="form-label" for="phoneNumber">Upload Your Pic</label>
                        </div>
                        <div class="col-4">
                            {% if sell.seller_image.url %}
                            <img src="{{ sell.seller_image.url }}" width="50px">
                            {% endif %}
                        </div>
                      </div>  
      
                    
                    </div>
                                       <div class="mt-4 pt-2">
                      <input class="btn btn-big bg-lightdark rounded-5 text-light" type="submit" value="Update" />
                      <a href="{% url 'reseller:profile' %}"  class="btn bg-lightdark rounded-5 text-light">Back</a>
                    </div>

                    
      
                  </form>


                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
 
      
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>