{% extends 'common_temp/masterpage.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container" >
      <div class="row">
        <!-- Card 1 -->
        {% for i in product %}
          <div class="col-12 col-md-3 col-sm-6 pt-3">
            <a href="{% url 'common:common_login' %}" class="text-dark">
              <div class="card text-center">
                <img src="{{ i.proimg.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title font1"></h5>
                  <p class="card-text  font2"></p>
                  <button class="btn btn-success pl-1 pt-0" style="width: 40px; height: 30px;"><small>4.2</small><img src="{% static 'images/star.svg' %}" width="15px" height="15px" class="pl-1"></button>
                  <span style="color: #6f7376;"></span>
                  <p class="text-success font-weight-bold  "><ins></ins><del class="pl-2 text-secondary pr-2 font-weight-light">₹6500</del>15% off</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}