{% extends 'customertemp/masterpage.html' %}
{% load static %}
 
{% block content %}
<section>
  <div class="container-fluid">
  <div class="row">
      <div class="col-12 col-md-3" style="background-color: #969b9f;">
          <button type="button" class="m-2 border-0 pl-4 pr-4" style="background-color:#cbcbcd ;height: 28px; font-size: 12px; font-weight: 500;" >FILTER</button>
          <select class="form-select border-0 pl-3" aria-label="Disabled select example" style="background-color:#cbcbcd ; width: 170px; height: 28px; font-size: 11px; font-weight: 500;"  >                    
              <option selected>SORT BY</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select></div>
      <div class="col-12 col-md-9 pt-2"  style="background-color: #969b9f;">      
            <span style="font-size: 12px; color: #626464;">COMPARE   </span>
            <span class="p-4"  style="font-size: 12px; color: #626464;">/</span>
            <span style="font-size: 12px; color: #626464;">Select up to 4 items to compare</span>
         
      </div>
  </div>
</div>
</section>
<section>
    <div class="container">
        <div class="row p-3">
            <div class="col-12">
                <div class="alert alert-secondary text-danger" role="alert">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <h2 class="text-secondary">Delivery Address</h2>
                <p class="font-weight-normal">Arimbra,Malappuram</p>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-md-7 col-8 bg-light pt-3">
                
                <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <img class="d-inline" height="200px" src="" alt="First slide">
                    </div>
                    <div class="p-2 bd-highlight">
                        <h3 class="d-inline"></h3>
                        <h5></h5>
                        <span class="font-weight-bold"></span><br/>
                        <label> </label>
                        <input class="border-0" id="" data-item = "" type="number" width="10" min="1" style="width: 40px;" max="" value="1">
                        <label class="text-danger" id="out"></label><br/>
                        <span> </span><label  class="totalamnt" value="" readonly id="">{{i.price}}</label>
                        <label class="text-danger" id="out"></label><br/>
                        <span class="font-weight-bold"></span>
                        <a href="" class="btn btn-big btn-danger mt-3">Remove</a>

                    </div>
                </div>
                
            </div>
            <div class="col-12 col-md-4 bg-light p-4 ml-5">
                <h2 class="text-secondary">Price Details</h2>
                <div class="d-flex justify-content-between flex-row bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <h5 class="pt-3">Price Item:</h5>
                    </div>
                    <div class="p-2 bd-highlight"></div>
        
                    </div>
                <div class="d-flex justify-content-between flex-row bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <h5 class="pt-3 d-inline">Delivery Charge:</h5>
                    </div>
                    <div class="p-2 bd-highlight">
                        <h5 class="text-success d-inline">Free</h5>
                    </div>
                </div>
                <div class="d-flex justify-content-between flex-row bd-highlight mb-3 bg-sec">
                    <div class="p-2 bd-highlight">
                        <h5 class="pt-3 d-inline">Total Amount: </h5>
                    </div>
                    <div class="p-2 bd-highlight">
                        <h5 class="d-inline"><label id="grand_total"></label></h5>
                    </div>
                </div>
            </div>
        </div>
        <div>
</section>
<section>
  <div class="container">
    <div class="row m-3">
      <div class="col-12 text-center">
      
        <a href="" class="btn btn-big btn-lg btn-warning text-light">Place Order</a>
      </div>
    </div>
  </div>
</section>


{% endblock %}
 
 
  


